* {
  
}

.main-layout{
    position: relative;
    padding-left: 150px;
    padding-top: 80px;
    min-height: 100vh;
    background-color: #ccc;
}

.sidebar{
    position: absolute;
    left: 10px;
    top: 0;
    min-height: 100vh;
    background-color: rgb(239, 131, 131);
    width: 50px;

}
.topper{
    position: absolute;
    top: 0;
    right: 50px;
    min-height: 100vh;
    color: rgb(22, 209, 242);
    height: 100px;
    /* width: 100%; */

}
.main-content{
    


}